@media only screen and (max-width: 600px) {
  .always-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 60px;
    overflow: hidden;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 18px;
      font-size: 22px;
    }

    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;

      p {
        margin-bottom: 0;
        font-size: 32px;
        padding: 12px 0px;
      }
    }

    .always-image-wrapper {
      width: 100%;
      box-sizing: border-box;

      img {
        width: 100%;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 1199px) and (min-width: 600px) {
  .container {
    width: 600px;
    margin: 0 auto;
    background-color: darkblue;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1519px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    background-color: darkkhaki;
  }
}

@media only screen and (min-width: 1520px) {
  .always-wrapper {
    display: flex;
    height: 900px;

    .always-text {
      width: 614px;
      margin-top: 260px;
      margin-right: 213px;

      .h2 {
        margin-bottom: 20px;
      }

      .p2 {
        margin-bottom: 30px;
      }

      .alweys-button {
        margin-top: 28px;
      }
    }

    .always-image-wrapper {
      width: 690px;

      .always-image {
        margin-top: 100px;
      }
    }
  }
}
