@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500&family=Poppins:wght@400;500&display=swap");

$blue: #304de5;
$gray: #706e7e;
$black: #1c1b21;
$white: #ffffff;
$light-gray: #edeff8;
